.star-divider {
    position: relative;
    font-size: 25px;
    color: rgb(44, 62, 80);
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  
  .star-divider::after,
  .star-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 80px;
    height: 4px;
    background-color: rgb(44, 62, 80);
  }
  
  .star-divider::before {
    right: 100%;
    margin-right: 15px;
  }
  
  .star-divider::after {
    margin-left: 15px;
  }
  
  .star-divider i {
    font-size: 18px;
  }
  
  .ti {
    color: rgb(44, 62, 80);
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 48px;
    font-size: 40px;
  }
  .form-custom {
    position: relative;
  }
  
  .input-group-custom {
    position: relative;
  }
  
  .input-group-custom input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 12px 0 8px;
    font-size: 16px;
    background: transparent;
    outline: none;
  }
  
  .input-group-custom label {
    position: absolute;
    top: 12px;
    left: 0;
    color: #777;
    font-size: 16px;
    transition: 0.3s ease;
    pointer-events: none;
  }
  
  .input-group-custom input:not(:placeholder-shown) + label {
    top: -16px;
    font-size: 15px;
    color: #1abc9c;
  }

  .btn {
    white-space: nowrap;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    width: 25% !important;
  }
  
  @media (max-width: 767.98px) {
    .btn{
        white-space: nowrap;
      width: 50% !important;
      display: block;
      margin: 0;
      text-align: center;
      padding: 10px 10px ;
    }
  }
  @media (min-width: 768px) {
    .btn {
      white-space: nowrap;
      width: 35% !important;
      text-align: center;
      padding: 12px 10px;
    }
  }