/* ------- TITLE AND STAR -------- */
.star-divider {
    position: relative;
    font-size: 25px;
    color: rgb(44, 62, 80);
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  
  .star-divider::after,
  .star-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 80px;
    height: 4px;
    background-color: rgb(44, 62, 80);
  }
  
  .star-divider::before {
    right: 100%;
    margin-right: 15px;
  }
  
  .star-divider::after {
    margin-left: 15px;
  }
  
  .star-divider i {
    font-size: 18px;
  }
  
  .ti {
    color: rgb(44, 62, 80);
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 48px;
    font-size: 40px;
  }
  
  /* ------- IMAGE OVERLAY -------- */
  .portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .portfolio-item img {
    transition: transform 0.3s ease;
    border-radius: 8px;
  }
  
  .overlay-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 188, 156,0.8); 
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .portfolio-item:hover .overlay-hover {
    opacity: 1;
  }
  
  /* ------- FULLSCREEN OVERLAY -------- */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 53, 118, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay img {
    max-width: 65%;
    max-height: 65%;
    object-fit: contain;
    border-radius: 10px;
    margin: auto 17%;
  }
  