
.star-divider {
    position: relative;
    font-size: 25px;
    color: white;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  
  
  .star-divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 80px;
    height: 4px;
    background-color: white;
  }
  .star-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 80px;
    height: 4px;
    background-color: white;
  }
  
  .star-divider::before {
    margin-right: 15px;
  }
  
  .star-divider::after {
    margin-left: 15px;
  }
  .ti {
    line-height: 48px !important;
    font-size: 40px !important;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .star-divider i {
    font-size: 18px; 
  }
  