/* Active link */
.active-link {
  background-color: rgb(26, 188, 156);
  color: white !important;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s;
}

/* Navbar base */
.navbar {
  background-color: rgb(44, 62, 80);
  padding: 20px 0;
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Links */
.navbar a {
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Brand */
.navbar-brand {
  font-size: 29px;
  line-height: 43px;
  transition: all 0.3s ease;
}

/* Shrink on scroll */
.shrink-navbar {
  padding: 5px 0;
  background-color: rgb(44, 62, 80);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

