<section class="se d-flex justify-content-center align-items-center" style="height: 100vh; background-color: rgb(26, 188, 156);">
    <div class="text-center text-white">
  
      <div class="avatar-box">
        <img src="assets/person.png.png" alt="person" class="rounded-circle mb-3">
      </div>
  
      <p class="mb-1 ti">START FRAMEWORK</p>
  
      <div class="star-divider">
        <i class="fas fa-star"></i>
      </div>
      
  
      <p class="mb-0 des">Graphic Artist - Web Designer - Illustrator</p>
  
    </div>
  </section>